<a href="https://colab.research.google.com/github/Javcm/Intro-a-Deep-Learning-UNAM-FC/blob/main/Ejercicios_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

No olvides revisar la Documentación de [Pandas](https://pandas.pydata.org/docs/index.html#).

<font size = 5 font color = "royalblue">
<i>*Ejercicio 1*</i>

Un concepto últil de manejar es el de <i>__Series__</i>, esto nos permite convertir listas, diccionarios y otros objetos de Python en objetos compatibles con Pandas.

In [ ]:
#Convierte en Series los siguientes objetos

import pandas as pd
import numpy as np


a_list = list('abcedfghijklmnopqrstuvwxyz')
an_arr = np.arange(26)
a_dict = dict(zip(a_list, an_arr))

#Por ejemplo
serie_1 = pd.Series(a_list)
print(serie_1, "\n", type(serie_1))

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
 <class 'pandas.core.series.Series'>

Hint [aquí](https://pandas.pydata.org/docs/reference/api/pandas.Series.html).

Pregunta: <i>__¿Qué hace el método ZIP() con el que se define el diccionario para la última serie?__</i>

In [ ]:
#Tu código aquí :)

<font size = 5 font color = "royalblue">
<i>*Ejercicio 2*</i>

Convierte las primeras <i>__2__</i> series generadas arriba en un dataframe.

[Hint 1](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html)

[Hint 2](https://pandas.pydata.org/docs/reference/api/pandas.concat.html)

*Sugerencia: investiga el método "Reset Index" aplicado a los dataframes y aplícalo a tu dataframe. ¿Qué pasa si no lo aplicas?

In [ ]:
#Tu código aquí :)

<font size = 5 font color = "royalblue">
<i>*Ejercicio 3*</i>

Dadas las siguientes series:

In [ ]:
serie_1 = pd.Series([1, 2, 3, 4, 5])
serie_2 = pd.Series([4, 5, 6, 7, 8])

Encuentra todos los elementos de la serie 1 que se encuentran en la serie 2 y viceversa.
Después encuentra todos los elementos de la serie 1 que NO están en la serie 2 y viceversa.

[Hint](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isin.html)


*Sugerencia: Podemos invertir valores booleanos utilizando el simbolo ~ en Series de Pandas

In [ ]:
#EJEMPLO
a_serie = pd.Series([True, False, True])
print(~a_serie)

0    False
1     True
2    False
dtype: bool

In [ ]:
#Tu código aquí :)

¿Podrías juntar los elementos que NO se comparten entre las series en una misma serie?

[Hint](https://pandas.pydata.org/docs/reference/api/pandas.Series.append.html)

In [ ]:
#Tu código aquí :)

<font size = 5 font color = "royalblue">
<i>*Ejercicio 4*</i>

Cuando trabajamos con números generados "aleatoreamente" una forma útil de reproducir nuestros resultados es utilizando "semillas", estas son un número a partir del cual Numpy generará los arreglos de números aleatoreos.

Por ejemplo:

In [ ]:
#Definimos una semilla utilizando el método de Numpy "random.seed()" y colocando un número entre los paréntesis.
#En este caso se colocó el número 7.
np.random.seed(7) #7

Utilizando el método de Numpy: [random.randint()](https://numpy.org/doc/stable/reference/random/generated/numpy.random.randint.html) podemos generar un arreglo de 30 números enteros entre 0 y 10.

In [ ]:
random_array = np.random.randint(0,10, size=(30))
random_array

array([4, 9, 6, 3, 3, 7, 7, 9, 7, 8, 9, 8, 7, 6, 4, 0, 7, 0, 7, 6, 3, 5,
       8, 8, 7, 5, 0, 0, 2, 8])

Dada la siguiente lista:

In [ ]:
a_list = list('abcdefghij')
a_list

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

Obtén la letra correspondiente a cada valor numérico en el arreglo aleatorio. 

Por ejemplo, el primer valor del arreglo es 4, entonces la letra correspondiente es la "e" (recordar que Python cuenta a partir de 0). El segundo valor del arreglo aleatorio es el 9, entonces la letra correspondiente es la "j". Y así consecutivamente. 

Guarda tus resultados en un arreglo de Numpy.

[Hint Aquí.](https://numpy.org/doc/stable/reference/generated/numpy.take.html)

In [ ]:
#Tu código aquí :)

Determina cuántas veces aparece cada letra en tu arreglo.

[Hint Aquí.](https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html)

In [ ]:
#Tu código aquí :)

<font size = 5 font color = "royalblue">
<i>*Ejercicio 5*</i>

Dada la siguiente serie:

In [ ]:
serie_letters = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
serie_letters

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

Obtén la letra en las siguientes posiciones:

In [ ]:
positions = [0, 4, 8, 14, 20]

In [ ]:
#Tu código aquí :)

<font size = 5 font color = "royalblue">
<i>*Ejercicio 6*</i>

Utilizando el archivo CSV <i>__unique_m.csv__</i>, determina el número de compuestos que tienen hidrógeno en su composición y que tienen una temperatura crítica inferior a los 100 Kelvin.

In [ ]:
#Tu código aquí :)

<font size = 5 font color = "royalblue">
<i>*Ejercicio 7*</i>

¿Cuál es el promedio de la fracción de composición de hidrógeno en los compuestos obtenidos en el ejercicio 6 y qué valores tienen los 	cuartiles (25%, 50%, 75%) en su temperatura crítica?

In [ ]:
#Tu código aquí :)

<font size = 5 font color = "royalblue">
<i>*Ejercicio 8*</i>

¿Cuántos superconductores con temperatura crítica menor a 80 kelvin tienen en su composición átomos de titanio (Ti) y oxígeno (O)?

In [ ]:
#Tu código aquí :)